
* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #242537 !important;
    color: white !important;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    background-color: #202133 !important;
    padding: 0 30px 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

header * {
    background-color: inherit !important;
}

#nav{
    list-style: none;
    display: flex;
    gap: 50px;
}

#hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: auto;
}

#hamburger div {
    width: 30px;
    height: 3px;
    background: white !important;
}

a {
    text-decoration: none;
    color: white !important;
}


#Lebenslauf a {
    color: #a02b93 !important;
}

.absta {
    height: 10%;
    width: 100%;
}

main {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5% 2% 5%;
}

.topics {
    font-size: 30px;
    font-weight: bold;
    min-height: 10%;
    height: 10%;
}

.narrow_topics {
    display: none;
}

#scrollbox_container {
    width: 90%;
    min-height: 500px;
    height: 500px;
    border: solid;
    border-width: 3px;
    border-color: #a02b93 !important;
    border-radius: 7px;
    overflow-x: auto;
    margin: 30px 0 30px 0;
}

#scrollbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    padding: 10px 40px 10px 40px;
}

#container_BuB {
    display: flex;
    width: max-content;
    align-items: start;
    height: 50%; 
}

.date {
    align-self: flex-end;
    padding: 0 10px 0 10px;
    color: #a02b93 !important;
}

.info {
    height: 220px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #a02b93;
    padding: 0 100px 0 100px;
}

#container_hobbys {
    height: 50%;
    min-height: 50%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hobby1, #hobby2, #hobby3, #hobby4, #hobby5, #hobby6 {
    width: 200px;
}

#hobby1 {
    margin-left: 220px;
}

#hobby2 {
    margin-left: 250px;
}

#hobby3 {
    margin-left: 220px;
}

#hobby4 {
    margin-left: 440px;
}

#hobby5 {
    margin-left: 40px;
}

#hobby6 {
    margin-left: 300px;
}


footer {
    background-color: #202133 !important;  
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

footer div {
    display: none;
}


@media (max-width: 855px) {
    #nav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 10%;
        right: 0;
        background: #202133 !important;
        width: 200px;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
    }

    #nav.active {
        display: flex;
    }

    #hamburger {
        display: flex;
    }

    main {
    min-height: 80%;
    }

    .topics {
        font-size: 30px;
        font-weight: bold;
        display: none;
    }
    
    .narrow_topics {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 20px 0 30px 0;   
    }

    .narrow_topic {
        width: 100px;
        font-size: 17px;
        font-weight: bold;
        color: #a02b93 !important;
    }
    
    #scrollbox_container {
        width: 100%;
        min-height: 500px;
        height: auto;
        border: none;
        border-width: 3px;
        border-color: #a02b93 !important;
        border-radius: 7px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #scrollbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    #container_BuB {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: start;
        height: auto; 
    }
    
    .date {
        align-self: flex-end;
        padding: 0;
        color: #a02b93 !important;
    }
    
    .info {
        height: 180px;
        min-height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        border-right: 3px solid #a02b93;
        padding: 30px 10px 30px 10px;
    }
    
    #container_hobbys {
        height: auto;
        min-height: 50%;
        min-width: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    #hobby1, #hobby2, #hobby3, #hobby4, #hobby5, #hobby6 {
        width: 100%;
        padding: 0 10px 0 10px;
        height: 100px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #hobby1 {
        margin-left: 0;
        margin-top: 110px;
    }
    
    #hobby2 {
        margin-left: 0;
        margin-top: 60px;
    }
    
    #hobby3 {
        margin-left: 0;
        margin-top: 80px;
    }
    
    #hobby4 {
        margin-left: 0;
        margin-top: 210px;
    }
    
    #hobby5 {
        margin-left: 0;
        margin-top: 40px;
    }
    
    #hobby6 {
        margin-left: 0;
        margin-top: 90px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer div {
        display: flex;
        color: #a02b93 !important;
        background-color: #202133 !important;
    }
}